@use "../../../styles/mixins.scss" as *;

.wrapper {
    @include flexWrapper(null, null, center, null, 60px);
    padding: 100px 0;

    @include media(tablet) {
        @include flexWrapper(column-reverse, null, center, null, 40px);
    }

    @include media(phone) {
        padding: 60px 20px;
    }

    ;
}

.textWrapper {
    @include flexWrapper(column);
    max-width: 590px;

    @include media(tablet) {
        gap: 20px;
    }
}

.imgWrapper {
    max-width: 650px;
}

.img {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
}

.btn {
    @include flexWrapper(null, center, center);
    border-radius: 50%;
    width: 112px;
    height: 112px;
    background: #118da8;
    margin-bottom: 20px;
    transition-duration: 500ms;

    &:hover {
        transform: rotate(90deg);
    }

    @include media(tablet) {
        margin-bottom: unset;
    }
}

.title {
    @include title();
    letter-spacing: 0.05em;
    margin-bottom: 30px;

    @include media(tablet) {
        margin-bottom: unset;
    }
}

.description{
    white-space: pre-wrap;
}