@use "./variables.scss" as *;

@mixin flexWrapper($direction: null, $justify: null, $align: null, $wrap: null, $gap: null){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin menu($direction: null, $justify: null, $align: null, $fontWieght: 400, $gap: 40px){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    font-weight: $fontWieght;
    font-size: 17px;
    line-height: 1.6;
}

@mixin media($media){
    @if $media == tablet{
        @media screen and (max-width: $tablet) { @content; }
    } @else if $media == phone {
        @media screen and (max-width: $phone) { @content; }
    }
}