@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.wrapper {
    display: flex;
    border-radius: 32px;
    background-color: #000;
    padding: 40px;
    gap: 55px;
    margin-bottom: 60px;

    @include media(tablet) {
        @include flexWrapper(column, null, start, null, 40px);
    }

    @include media(phone) {
        padding: 20px;
        gap: 30px;
        margin-bottom: 40px;
    }
}

.imgWrapper{
    max-width: 390px;   
   @include media(tablet) {
        max-width: unset;
    }
}

.img {
    object-fit: cover;
    width: 100%;

    @include media(tablet) {
        object-fit: contain;
        max-width: unset;
    }
}

.textWrapper {
    @include flexWrapper(column, null, start)
}

.label {
    color: $titleColor;
    border-radius: 6px;
    background: #191919;
    text-align: center;
    font-size: 18px;
    padding: 0 16px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.title {
    @include title();
    line-height: 1.1;
    letter-spacing: 0.04em;
    margin: 20px 0 30px;

    @include media(phone){
        margin-bottom: 40px;
        font-size: 40px;
    }
}

.text {
    margin-bottom: 20px;
}