@use "../styles/variables.scss" as *;

.button {
    border: 2px solid $accentColor;
    border-radius: 6px;
    background-color: $accentColor;
    color: $titleColor;
    padding: 10px 15px 10px 20px;
    transition: 0.5s;

    &:hover{
        background-color: transparent;
    }
}

.small {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
}